@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "MegaDesk | Delete Quote";


    var custName = "";
    var date = "";
    var width = "";
    var depth = "";
    var material = "";
    var rushDays = "";
    var drawers = "";
    var quote = "";
    var deskId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].AsInt() > 0)
        {
            deskId = Request.QueryString["ID"];
            var db = Database.Open("DeskDatabase");
            var dbCommand = "SELECT * FROM Desks WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, deskId);
            if (row != null)
            {
                custName = row.custName;
                width = row.width.ToString();
                depth = row.depth.ToString();
                material = row.material;
                drawers = row.drawers.ToString();
                rushDays = row.rushDays.ToString();
                quote = row.quote.ToString();
                date = row.Date.ToString();
            }
            else
            {
                Validation.AddFormError("No desk was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No desk was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        deskId = Request.Form["deskId"];
        var db = Database.Open("DeskDatabase");
        var deleteCommand = "DELETE FROM Desks WHERE ID = @0";
        db.Execute(deleteCommand, deskId);
        Response.Redirect("~/MegaDesk");
    }

}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Delete a Scripture Entry</h2>
            @Html.ValidationSummary()
            <form method="post">
                <fieldset>
                    <legend>Desk Information</legend>

                    <p>
                        <label class="control-label" for="custName">Customer Name</label>
                        <input class="form-control" type="text" id="custName" name="custName" value="@custName" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="material">Material</label>
                        <input class="form-control" type="text" id="material" name="material" value="@material" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="drawers">Number of Drawers</label>
                        <input class="form-control" type="text" id="drawers" name="drawers" value="@drawers" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="width">Width (in)</label>
                        <input class="form-control" type="text" id="width" name="width" value="@width" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="depth">Depth (in)</label>
                        <input class="form-control" type="text" id="depth" name="depth" value="@depth" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="rushDays">Shipping Speed</label>
                        <input class="form-control" type="text" id="rushDays" name="rushDays" value="@rushDays" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="date">Date Quoted</label>
                        <input class="form-control" type="text" id="date" name="date" value="@date" readonly />
                    </p>

                    <p>
                        <label class="control-label" for="quote">Quote Total</label>
                        <input class="form-control" type="text" id="quote" name="quote" value="@quote" readonly />
                    </p>

                    <input type="hidden" name="deskId" value="@deskId" />
                    <p><input type="submit" name="buttonDelete" class="btn btn-default" value="Delete Desk Quote" /></p>
                </fieldset>
            </form>
            <p><a href="~/MegaDesk">Return to view all quotes</a></p>
        </div>
    </div>
</div>